<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>BackboneJS</title>
  <link href="assets/backbone.css" rel="stylesheet" />
  <script src="assets/backbone.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'backbone/intro' %>
<%= partial :'backbone/mvc' %>
<%= partial :'backbone/mvc-description' %>
<%= partial :'backbone/rails-backbone' %>
<%= partial :'backbone/structure' %>
<%= partial :'backbone/underscore' %>
<%= partial :'backbone/scaffold' %>
<%= partial :'backbone/models' %>
<%= partial :'backbone/models-example' %>
<%= partial :'backbone/models-methods' %>
<%= partial :'backbone/models-use' %>
<%= partial :'backbone/view' %>
<%= partial :'backbone/view-methods' %>
<%= partial :'backbone/view-example' %>
<%= partial :'backbone/view-example2' %>
<%= partial :'backbone/render' %>
<%= partial :'backbone/view-use' %>
<%= partial :'backbone/ejs' %>
<%= partial :'backbone/events' %>
<%= partial :'backbone/view-inheritance' %>
<%= partial :'backbone/router' %>
<%= partial :'backbone/router-example' %>
<%= partial :'backbone/history' %>
<%= partial :'backbone/assotiations' %>
<%= partial :'backbone/nested' %>
<%= partial :'backbone/nested-use' %>
<%= partial :'backbone/validations' %>
<%= partial :'backbone/validations-use' %>
<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
