<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>BDD. Behavior-driven development.</title>
  <link href="assets/bdd.css" rel="stylesheet" />
  <script src="assets/bdd.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'bdd/intro' %>
<%= partial :'bdd/bdd_cycle' %>
<%= partial :'bdd/init_env' %>
<%= partial :'bdd/init_testing_tools' %>
<%= partial :'bdd/meet_the_capybara' %>
<%= partial :'bdd/registration_feature' %>
<%= partial :'bdd/fix_register_path_error' %>
<%= partial :'bdd/fix_uninitialized_constant_users_controller_error' %>
<%= partial :'bdd/fix_the_action_new_could_not_be_found' %>
<%= partial :'bdd/fix_missing_template_users_new' %>
<%= partial :'bdd/users_new_spec' %>
<%= partial :'bdd/users_new_specs' %>
<%= partial :'bdd/users_controller_spec' %>
<%= partial :'bdd/user_model_spec' %>
<%= partial :'bdd/fix_the_action_create_could_not_be_found' %>
<%= partial :'bdd/fix_undefined_local_variable_or_method_root_url' %>
<%= partial :'bdd/fix_expected_to_find_text_sign_out' %>
<%= partial :'bdd/fix_expected_to_find_text_you_registered' %>
<%= partial :'bdd/homework' %>
<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
