<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>CarrierWave.</title>
  <link href="assets/carrierwave.css" rel="stylesheet" />
  <script src="assets/carrierwave.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'carrierwave/intro' %>
<%= partial :'carrierwave/install' %>
<%= partial :'carrierwave/user_model' %>
<%= partial :'carrierwave/photo_uploader' %>
<%= partial :'carrierwave/rails_admin' %>
<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
