<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Ruby Ccode Smells</title>
  <link href="assets/codesmells.css" rel="stylesheet" />
  <script src="assets/codesmells.js"></script>
</head>

<body class="deck-container">
<%= partial :'codesmells/topic' %>
<%= partial :'codesmells/comments' %>
<%= partial :'codesmells/long_method' %>
<%= partial :'codesmells/long_parameter_list' %>

<%= partial :'codesmells/names' %>

<%= partial :'codesmells/duplicate_code' %>
<%= partial :'codesmells/feature_envy' %>
<%= partial :'codesmells/data_clump' %>
<%= partial :'codesmells/divergent_change' %>
<%= partial :'codesmells/greedy_method' %>
<%= partial :'codesmells/control_coupling' %>
<%= partial :'codesmells/nested_iterator' %>


<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
