<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ruby on Rails</title>
  <link href="assets/cssbestpractices.css" rel="stylesheet">
  <script src="assets/cssbestpractices.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'cssbestpractices/topic' %>

<%= partial :'cssbestpractices/criteria/topic' %>
<%= partial :'cssbestpractices/criteria/valid' %>
<%= partial :'cssbestpractices/criteria/easy_to_maintain' %>
<%= partial :'cssbestpractices/criteria/fast_to_process' %>
<%= partial :'cssbestpractices/criteria/search_engine_optimized' %>
<%= partial :'cssbestpractices/criteria/responsive' %>

<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>