<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Metaprogramming</title>
  <link href="assets/metaprogramming.css" rel="stylesheet">
  <script src="assets/metaprogramming.js"></script>
</head>

<body class="deck-container">
  
<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'metaprogramming/topic' %>
<%= partial :'metaprogramming/open_classes' %>
<%= partial :'metaprogramming/monkey_patch' %>
<%= partial :'metaprogramming/classes' %>
<%= partial :'metaprogramming/dynamic_meths' %>
<%= partial :'metaprogramming/dynamic_def' %>
<%= partial :'metaprogramming/dynamic_undef' %>
<%= partial :'metaprogramming/dynamic_class' %>
<%= partial :'metaprogramming/class_undef' %>
<%= partial :'metaprogramming/method_missing' %>
<%= partial :'metaprogramming/method_lookup' %>
<%= partial :'metaprogramming/constant_lookup' %>
<%= partial :'metaprogramming/alias' %>
<%= partial :'metaprogramming/instance_variables' %>
<%= partial :'metaprogramming/scope_gate' %>
<%= partial :'metaprogramming/shared_var' %>
<%= partial :'metaprogramming/binding' %>
<%= partial :'metaprogramming/instance_eval' %>
<%= partial :'metaprogramming/class_eval' %>
<%= partial :'metaprogramming/methods_binding' %>
<%= partial :'metaprogramming/runtime' %>
<%= partial :'metaprogramming/hooks' %>
<%= partial :'metaprogramming/class_instance' %>
<%= partial :'metaprogramming/homework' %>

<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>