<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Models</title>
  <link href="assets/models.css" rel="stylesheet" />
  <script src="assets/models.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'models/topic' %>
<%= partial :'models/generate_models' %>
<%= partial :'models/migrations_topic' %>
<%= partial :'models/migrations' %>
<%= partial :'models/add_migrations' %>
<%= partial :'models/db_changing_methods' %>
<%= partial :'models/column_types' %>
<%= partial :'models/example_migration' %>
<%= partial :'models/running_migrations' %>
<%= partial :'models/topic_activerecord_objects' %>
<%= partial :'models/activerecord_functions' %>
<%= partial :'models/activerecord_functions_part2' %>
<%= partial :'models/topic_associations' %>
<%= partial :'models/belongs_to' %>
<%= partial :'models/belongs_to_in_model' %>
<%= partial :'models/has_many' %>
<%= partial :'models/has_many_in_model' %>
<%= partial :'models/has_one' %>
<%= partial :'models/has_one_in_model' %>
<%= partial :'models/has_many_through' %>
<%= partial :'models/has_many_through_in_model' %>
<%= partial :'models/has_one_through' %>
<%= partial :'models/has_one_through_in_model' %>
<%= partial :'models/has_and_belongs_to_many' %>
<%= partial :'models/habtm_in_model' %>
<%= partial :'models/polymorphic' %>
<%= partial :'models/polymorphic_in_model' %>
<%= partial :'models/topic_validations' %>
<%= partial :'models/validation_happen' %>
<%= partial :'models/valid_invalid' %>
<%= partial :'models/errors' %>
<%= partial :'models/presence' %>
<%= partial :'models/acceptance' %>
<%= partial :'models/confirmation' %>
<%= partial :'models/inclusion' %>
<%= partial :'models/exclusion' %>
<%= partial :'models/format' %>
<%= partial :'models/length' %>
<%= partial :'models/numericality' %>
<%= partial :'models/uniqueness' %>
<%= partial :'models/validate_associated' %>
<%= partial :'models/validates_with' %>
<%= partial :'models/validate_each' %>
<%= partial :'models/general_options' %>
<%= partial :'models/conditional_validations' %>
<%= partial :'models/custom_validators' %>
<%= partial :'models/custom_methods' %>
<%= partial :'models/validation_errors' %>
<%= partial :'models/topic_callbacks' %>
<%= partial :'models/callback_registration' %>
<%= partial :'models/available_callbacks' %>
<%= partial :'models/after_callbacks' %>
<%= partial :'models/running_callbacks' %>
<%= partial :'models/skipping_callbacks' %>
<%= partial :'models/relational_callbacks' %>
<%= partial :'models/conditional_callbacks' %>
<%= partial :'models/callback_classes' %>
<%= partial :'models/topic_query_interface' %>
<%= partial :'models/retrieving_methods' %>
<%= partial :'models/retrieving_single_object' %>
<%= partial :'models/retrieving_multiple_objects' %>
<%= partial :'models/retrieving_multiple_objects_in_batches' %>
<%= partial :'models/conditions' %>
<%= partial :'models/ordering' %>
<%= partial :'models/selecting' %>
<%= partial :'models/limit_and_offset' %>
<%= partial :'models/group' %>
<%= partial :'models/having' %>
<%= partial :'models/overriding_conditions' %>
<%= partial :'models/null_relation' %>
<%= partial :'models/readonly' %>
<%= partial :'models/optimistic_locking' %>
<%= partial :'models/pessimistic_locking' %>
<%= partial :'models/joining_tables' %>
<%= partial :'models/eager_loading_associations' %>
<%= partial :'models/scopes' %>
<%= partial :'models/find_or_build' %>
<%= partial :'models/finding_by_sql' %>
<%= partial :'models/existence_of_objects' %>
<%= partial :'models/calculations' %>
<%= partial :'models/topic_testing_models' %>
<%= partial :'models/tests_configuration' %>
<%= partial :'models/testing_basic_structure' %>
<%= partial :'models/database_cleaner' %>
<%= partial :'models/factory_girl' %>
<%= partial :'models/faker' %>
<%= partial :'models/testing_validations' %>
<%= partial :'models/testing_associations' %>
<%= partial :'models/testing_scopes' %>
<%= partial :'models/testing_callbacks' %>
<%= partial :'models/shoulda_matchers' %>
<%= partial :'models/homework' %>

<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
