<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ruby rake</title>
  <link href="assets/rake.css" rel="stylesheet">
  <script src="assets/rake.js"></script>
</head>

<body class="deck-container">
  
<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'rake/topic' %>
<%= partial :'rake/file_info' %>
<%= partial :'rake/file_content' %>
<%= partial :'rake/csv'%>
<%= partial :'rake/yaml'%>
<%= partial :'rake/the_build_tools' %>
<%= partial :'rake/rake' %>
<%= partial :'rake/tasks' %>
<%= partial :'rake/expressing_dependencies' %>
<%= partial :'rake/namespaces' %>
<%= partial :'rake/the_default_task' %>
<%= partial :'rake/describing_tasks' %>
<%= partial :'rake/redefining_tasks' %>
<%= partial :'rake/invoking_tasks' %>
<%= partial :'rake/invoke_and_execute_tasks' %>
<%= partial :'rake/using_named_variable' %>
<%= partial :'rake/using_arguments' %>
<%= partial :'rake/custom_black_magic' %>
<%= partial :'rake/testing' %>
<%= partial :'rake/test_implementation' %>
<%= partial :'rake/homework' %>

<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>