<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Refactoring</title>
  <link href="assets/refactoring.css" rel="stylesheet" />
  <script src="assets/refactoring.js"></script>
</head>

<body class="deck-container">
<%= partial :'refactoring/topic' %>

<%= partial :'refactoring/refactoring_is' %>
<%= partial :'refactoring/codesmell_is' %>
<%= partial :'refactoring/the_refactoring_cycle' %>

<%= partial :'refactoring/duplicate_code' %>
<%= partial :'refactoring/long_method' %>
<%= partial :'refactoring/long_parameter_list' %>
<%= partial :'refactoring/names' %>
<%= partial :'refactoring/comments' %>
<%= partial :'refactoring/large_module' %>
<!-- Divergent Change -->
<%= partial :'refactoring/shotgun_surgery' %>
<%= partial :'refactoring/feature_envy' %> <!-- Move Method -->
<%= partial :'refactoring/data_clumps' %>
<%= partial :'refactoring/special_case' %>
<%= partial :'refactoring/control_coupling' %>
<%= partial :'refactoring/greedy_method' %>
<%= partial :'refactoring/divergent_change' %>
<%= partial :'refactoring/dead_code' %>
<%= partial :'refactoring/lazy_class' %>
<%= partial :'refactoring/temporary_field' %>
<%= partial :'refactoring/message_chain' %>

<%= partial :'refactoring/extract_method_before' %>
<%= partial :'refactoring/extract_method_after' %>
<%= partial :'refactoring/inline_method_before' %>
<%= partial :'refactoring/inline_method_after' %>
<%= partial :'refactoring/extract_class_before' %>
<%= partial :'refactoring/extract_class_after' %>
<%= partial :'refactoring/inline_class_before' %>
<%= partial :'refactoring/inline_class_after' %>
<%= partial :'refactoring/extract_module_before' %>
<%= partial :'refactoring/extract_module_after' %>
<%= partial :'refactoring/pull_up_method_before' %>
<%= partial :'refactoring/pull_up_method_after' %>
<%= partial :'refactoring/rename_method_before' %>
<%= partial :'refactoring/rename_method_after' %>
<%= partial :'refactoring/move_field_before' %>
<%= partial :'refactoring/move_field_after' %>
<%= partial :'refactoring/form_template_method_before' %>
<%= partial :'refactoring/form_template_method_after' %>
<%= partial :'refactoring/parameterize_method_before' %>
<%= partial :'refactoring/parameterize_method_after' %>
<%= partial :'refactoring/separate_query_from_modifier_before' %>
<%= partial :'refactoring/separate_query_from_modifier_after' %>
<%= partial :'refactoring/hide_delegate_before' %>
<%= partial :'refactoring/hide_delegate_after' %>
<%= partial :'refactoring/introduce_assertion_before' %>
<%= partial :'refactoring/introduce_assertion_after' %>
<%= partial :'refactoring/introduce_null_object_before' %>
<%= partial :'refactoring/introduce_null_object_after' %>
<%= partial :'refactoring/replace_parameter_with_method_before' %>
<%= partial :'refactoring/replace_parameter_with_method_after' %>
<%= partial :'refactoring/preserve_whole_object_before' %>
<%= partial :'refactoring/preserve_whole_object_after' %>
<%= partial :'refactoring/introduce_parameter_object_before' %>
<%= partial :'refactoring/introduce_parameter_object_after' %>
<%= partial :'refactoring/replace_array_with_object_before' %>
<%= partial :'refactoring/replace_array_with_object_after' %>
<%= partial :'refactoring/replace_method_with_method_object_before' %>
<%= partial :'refactoring/replace_method_with_method_object_after' %>
<%= partial :'refactoring/replace_temp_with_query_before' %>
<%= partial :'refactoring/replace_temp_with_query_after' %>
<%= partial :'refactoring/replace_type_code_with_polymorphism_before' %>
<%= partial :'refactoring/replace_type_code_with_polymorphism_after' %>
<%= partial :'refactoring/replace_type_code_with_module_extension_before' %>
<%= partial :'refactoring/replace_type_code_with_module_extension_after' %>
<%= partial :'refactoring/replace_type_code_with_state_strategy_before' %>
<%= partial :'refactoring/replace_type_code_with_state_strategy_after' %>
<%= partial :'refactoring/substitute_algorithm_before' %>
<%= partial :'refactoring/substitute_algorithm_after' %>
<%= partial :'refactoring/decompose_conditional_before' %>
<%= partial :'refactoring/decompose_conditional_after' %>
<%= partial :'refactoring/collection_closure_method_before' %>
<%= partial :'refactoring/collection_closure_method_after' %>
<%= partial :'refactoring/introduce_named_parameter_before' %>
<%= partial :'refactoring/introduce_named_parameter_after' %>

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
