<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Refactoring. Controllers.</title>
  <link href="assets/refactoringcontrollers.css" rel="stylesheet" />
  <script src="assets/refactoringcontrollers.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'refactoringcontrollers/intro' %>
<%= partial :'refactoringcontrollers/inline_controller_filters' %>
<%= partial :'refactoringcontrollers/split_controllers' %>
<%= partial :'refactoringcontrollers/controller_concerns' %>
<%= partial :'refactoringcontrollers/service_objects_layer' %>
<%= partial :'refactoringcontrollers/extract_adapter_object' %>
<%= partial :'refactoringcontrollers/extract_delegator_object' %>
<%= partial :'refactoringcontrollers/extract_form_object' %>
<%= partial :'refactoringcontrollers/extract_query_object' %>


<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
