<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>RSpec</title>
  <link href="assets/rspec.css" rel="stylesheet">
  <script src="assets/rspec.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'rspec/topic' %>
<%= partial :'rspec/value_of_tests' %>
<%= partial :'rspec/writing_tests' %>
<%= partial :'rspec/tdd' %>
<%= partial :'rspec/installation' %>
<%= partial :'rspec/running_specs' %>
<%= partial :'rspec/first_test' %>
<%= partial :'rspec/first_implementation' %>
<%= partial :'rspec/describe' %>
<%= partial :'rspec/nested_groups' %>
<%= partial :'rspec/context' %>
<%= partial :'rspec/it' %>
<%= partial :'rspec/pending' %>
<%= partial :'rspec/hooks' %>
<%= partial :'rspec/before_each' %>
<%= partial :'rspec/before_all' %>
<%= partial :'rspec/hooks_run_in_order' %>
<%= partial :'rspec/define_hooks_in_configuration' %>
<%= partial :'rspec/let' %>
<%= partial :'rspec/subject' %>
<%= partial :'rspec/more_subject' %>
<%= partial :'rspec/helper_methods' %>
<%= partial :'rspec/described_class' %>
<%= partial :'rspec/filters' %>
<%= partial :'rspec/shared_examples' %>
<%= partial :'rspec/shared_context' %>
<%= partial :'rspec/expectations' %>
<%= partial :'rspec/how_expectations_work' %>
<%= partial :'rspec/matchers' %>
<%= partial :'rspec/equal_matchers' %>
<%= partial :'rspec/close_matchers' %>
<%= partial :'rspec/regexp_matchers' %>
<%= partial :'rspec/predicate_matchers' %>
<%= partial :'rspec/include_exist_matchers' %>
<%= partial :'rspec/changes' %>
<%= partial :'rspec/have' %>
<%= partial :'rspec/custom_matchers' %>
<%= partial :'rspec/chaining_custom_matchers' %>
<%= partial :'rspec/mocks_and_stubs' %>
<%= partial :'rspec/as_null_object' %>
<%= partial :'rspec/method_stubs' %>
<%= partial :'rspec/unstub' %>
<%= partial :'rspec/stub_const' %>
<%= partial :'rspec/any_instance' %>
<%= partial :'rspec/stub_chain' %>
<%= partial :'rspec/stub_before_all' %>
<%= partial :'rspec/should_receive' %>
<%= partial :'rspec/arguments_expectation' %>
<%= partial :'rspec/receive_counts' %>
<%= partial :'rspec/ordering' %>
<%= partial :'rspec/responses' %>
<%= partial :'rspec/example' %>
<%= partial :'rspec/selecting_stories' %>
<%= partial :'rspec/codebreaker_gem' %>
<%= partial :'rspec/first_spec' %>
<%= partial :'rspec/adding_code' %>
<%= partial :'rspec/failing_example' %>
<%= partial :'rspec/passing_example' %>
<%= partial :'rspec/next_step' %>
<%= partial :'rspec/try_to_fix' %>
<%= partial :'rspec/fix_step' %>
<%= partial :'rspec/refactor' %>
<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>

