<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ruby on Rails</title>
  <link href="assets/rubybasics.css" rel="stylesheet">
  <script src="assets/rubybasics.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<%= partial :'rubybasics/topic' %>
<%= partial :'rubybasics/rvm' %>
<%= partial :'rubybasics/rvmrc' %>
<%= partial :'rubybasics/run_files' %>
<%= partial :'rubybasics/everything_is_an_object' %>
<%= partial :'rubybasics/numbers' %>
<%= partial :'rubybasics/numbers_arithmetic_operators' %>
<%= partial :'rubybasics/numbers_assignment_operators' %>
<%= partial :'rubybasics/string' %>
<%= partial :'rubybasics/string_concatenation' %>
<%= partial :'rubybasics/string_accessing' %>
<%= partial :'rubybasics/string_useful_methods' %>
<%= partial :'rubybasics/array' %>
<%= partial :'rubybasics/array_elements' %>
<%= partial :'rubybasics/array_adding_items' %>
<%= partial :'rubybasics/array_removing_items' %>
<%= partial :'rubybasics/array_obtaining_information' %>
<%= partial :'rubybasics/array_concat' %>
<%= partial :'rubybasics/array_operations' %>
<%= partial :'rubybasics/array_iterators' %>
<%= partial :'rubybasics/symbol' %>
<%= partial :'rubybasics/hash' %>
<%= partial :'rubybasics/hash_default' %>
<%= partial :'rubybasics/hash_removing_items' %>
<%= partial :'rubybasics/hash_useful_methods' %>
<%= partial :'rubybasics/hash_useful_methods_2' %>
<%= partial :'rubybasics/hash_useful_methods_3' %>
<%= partial :'rubybasics/range' %>
<%= partial :'rubybasics/time' %>
<%= partial :'rubybasics/file' %>
<%= partial :'rubybasics/file_read' %>
<%= partial :'rubybasics/file_write' %>
<%= partial :'rubybasics/file_useful_methods' %>
<%= partial :'rubybasics/dir' %>
<%= partial :'rubybasics/variables' %>
<%= partial :'rubybasics/if_unless' %>
<%= partial :'rubybasics/if_else' %>
<%= partial :'rubybasics/or_and' %>
<%= partial :'rubybasics/case' %>
<%= partial :'rubybasics/loop' %>
<%= partial :'rubybasics/while' %>
<%= partial :'rubybasics/do_while' %>
<%= partial :'rubybasics/until' %>
<%= partial :'rubybasics/for' %>
<%= partial :'rubybasics/each' %>
<%= partial :'rubybasics/times' %>
<%= partial :'rubybasics/upto' %>
<%= partial :'rubybasics/methods' %>
<%= partial :'rubybasics/methods_definition' %>
<%= partial :'rubybasics/method_arguments' %>
<%= partial :'rubybasics/method_keyword_arguments' %>
<%= partial :'rubybasics/method_return_values' %>
<%= partial :'rubybasics/method_blocks' %>
<%= partial :'rubybasics/method_closures' %>
<%= partial :'rubybasics/method_block_to_proc' %>
<%= partial :'rubybasics/method_proc' %>
<%= partial :'rubybasics/method_anonymous' %>
<%= partial :'rubybasics/method_proc_vs_lambda' %>
<%= partial :'rubybasics/method_proc_vs_lambda_2' %>
<%= partial :'rubybasics/method_proc_vs_lambda_conclusion' %>
<%= partial :'rubybasics/method_method' %>
<%= partial :'rubybasics/method_naming' %>
<%= partial :'rubybasics/operators' %>
<%= partial :'rubybasics/koans' %>

<!-- End slides. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

</body>
</html>
